@import "ibm.css";
.fill-color {
    -fx-text-fill: black;

}
.vote{
    -fx-text-fill: black;
}
.vote:hover{
    -fx-text-fill: #f61e1e;
}
.edit{
    -fx-text-fill: white;
}
.edit:hover{
    -fx-underline: true;
}

.sortvote{
    -fx-background-color: #01a57a;
    -fx-text-fill: #4d4d4d;

}
.fill-text-color {
    -fx-text-fill: #ADE9B9;
}

.fill-text-color-blue {
    -fx-text-fill: #01a57a;
}

.fill-text-color-green {
    -fx-text-fill: white;
}

.bg {
    -fx-background-color: #01a57a;
}


.bg-manager {
    -fx-background-color:  #f1f3f6;
}

.bg-back {
    -fx-background-color:  #f1f3f6;
    -fx-text-fill: white;
}

.bg-back-admin {
    -fx-background-color:  #f1f3f6;
    -fx-text-fill: white;
}

.bg-ban {
    -fx-background-color:  #f1f3f6;
}

.bg-staff {
    -fx-background-color: #D3D3D3;
}


.button {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
}

.button-admin {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #0ac292; /* Green */
    -fx-text-fill: white;
}

.button-mode {
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-color-label-visible: white;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

.combobox {
    color: white;
    -fx-background-color: #01a57a;
}
.button-vote {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

.button-choose {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button-choose:hover {
    -fx-background-color: #0ac292;
    -fx-text-fill: white;
}

.button-login {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
}

.button-back {
    -fx-background-color:  #f1f3f6;
    -fx-text-fill: black;
}

