.fill-color {
    -fx-fill: #03bd77;

}

.fill-text-color {
    -fx-text-fill: #ADE9B9;
}

.bg {
    -fx-background-color: #01a57a;
}

.button {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
}

.button-admin {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #0ac292; /* Green */
    -fx-text-fill: white;
}

.button-mode {
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-color-label-visible: white;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

.button-combo {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;

}

.button-vote {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

.button-choose {
    -fx-background-color: #363636;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.button-login {
    -fx-background-color: #01a57a;
    -fx-text-fill: white;
}


